<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Channels</h1>

    <ul>
      <li ng-repeat="channel in vm.channels">{{ channel.chan_name }}</li>
    </ul>
    <h1>Chat Messages</h1>
    <div class="panel panel-default" id="messagePanel">
      <ul>
        <li id="message" ng-repeat="message in vm.messages">{{message.contents}} - <b>{{message.username}}</b></li>
      </ul>
    </div>
  </div>

  <textarea
  type="text"
  class="form-control"
  placeholder="Message Here"
  ng-model="vm.message"
  autofocus
  ng-keydown="vm.sendMessage($event)"
  spellcheck="true"
  id="messageBox"
  ></textarea>

</div>
