<style>
#message-nav  {
    width: 81%;
  float: right !important;
  border: 0;
  top: 0;
  border-radius: 0;
}

/*`.navbar-fixed-top {
  float: right !important;
  right: 0 !important;
  width: 75%;
}`*/

.ng-scope {
  margin: 0 !important;
}

#app-brand {
  color: #fff;
}

.col-md-12 {
  min-height: 0;
}

.container {
  width: auto;
}

</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="messagePanel">


        <div ng-show="vm.messagesLoaded === false">
          <div style={loadingMiddle} className="loading"></div>
        </div>


        <div ng-show="vm.messagesLoaded === true">
        <ul>
          <!--Messages are repeated here-->
          <li ng-repeat="message in vm.messages">
            <div class="row">
              <div id="avatarDiv">
                <a href="#"><i id="avatar" class="fa fa-user fa-3"></i></a>
              </div>
              <div id="contentDiv">
                <div>
                <p id="msgUser"><a href="#"> {{message.username}} </a></p>
                <p id="chatMsg"> {{message.contents}} </p>
              </div>
            </div>
            </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="channel-sidebar" class="col-md-2">

      <a data-ui-sref="chat-app.landing"  class="navbar-brand" id="app-brand"><i class="fa fa-comments-o fa-3"></i> chat-app</a>


      <h1 class="text-center">Channels</h1>
      <div id="channel-list">
        <ul>
          <li ng-repeat="channel in vm.channels" ng-class="{'active-channel': channel.activeChannel === true}"><a href="#" ng-click="vm.goToAnotherChannel(channel.chan_name, $event)" > {{channel.chan_name}} </a></li>
          <li><a href="#" ng-click="vm.createNewChannel($event)">+</a></li>
        </ul>
      </div>
    <div id="private-messages">
      <h1 class="text-center">Private Messages</h1>
      <ul>
        <li><a href="#">Message 2</a></li>
        <li><a href="#">Message 3</a></li>
        <li><a href="#">Message 4</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
      <div id="userTyping">
        <!--This will show if the user is currently typing or not-->
          <span ng-repeat="message in vm.userTypingArray"> {{message.name}} </span>  {{vm.typeOfTyping}}
          <span ng-show="vm.userTypingArray.length !== 0">
            <!--The dot animation which will show if at least another user is typing-->
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </span>
        </div>
      <div class="form-group">
        <!--Input where the user types-->
        <input
        type="text"
        id="messageBox"
        class="form-control"
        placeholder="Chat away and press enter"
        ng-model="vm.message"
        autofocus
        ng-keydown="vm.sendMessage($event)"
        ng-keyup="vm.sendUserIsTyping($event)"
        spellcheck="true"
        required
        maxlength="100"
        />
        </div>
  </div>
</div>
