<div data-ui-view ng-init="vm.checkUserLoggedIn()"></div>

<nav class="navbar navbar-default" id="message-nav" ng-class="{'navbar-fixed-top': showFixedTopNav === undefined}">
  <div class="container" id="nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span id="channel-name-header">{{channelName}}</span>
    </div>
    <div class="collapse navbar-collapse" id="nav">
      <ul id="nav-links" class="nav navbar-nav navbar-right" ng-show="notLoggedIn">
        <li ui-sref-active="active-nav"><a data-ui-sref="chat-app.signin">Log In</a></li>
        <li ui-sref-active="active-nav"><a data-ui-sref="chat-app.signup">Sign Up</a></li>
      </ul>

      <div class="dropdown" id="userDropdown" ng-show="loggedIn">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> {{username}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a data-ui-sref="chat-app.profile">Profile</a></li>
            <li><a data-ui-sref="chat-app.signout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
