@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

//Body and window styling

body {
  font-family: "Lato", sans-serif;
}

.container-content {
  width: 100%;
}

//Message panel and text within

#message {
  list-style: none;
}

#chatMsg {
  margin-top: 10px;
  font-weight: normal;
}

#messagePanel {
  height: 75%;
  width: 100%;
  left: 0;
  /* top: 0; */
  overflow: auto;
  position: fixed;
  border: 0;
}

#messagePanel ul {
  padding-left: 5px;
}

#messagePanel li {
  padding: 10px 15px;
  margin-bottom: -1px;
}

#messagePanel li:hover {
  background: #f9f9f9;
}

#contentDiv {
  float: right;
  width: calc(100% - 50px);
}

//Footer including the input box textarea and user typing

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
}

#messageBox {
  white-space: pre-wrap;
  overflow: auto;
  background: #fff;
  width: 100%;
  font-size: 1.9375rem;
  line-height: 1.2rem;
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #3d3c40;
    -webkit-appearance: none;
  box-shadow: none;
  outline: 0;
  min-height: 2.625rem!important;
  padding-top: .5625rem;
  padding-bottom: .5625rem;
  padding-left: .5rem;
  padding-right: 2.5rem;
  max-height: 10rem!important;
  resize: none!important;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  border-radius: 0 6px 6px 0;
}

#userTyping {
  display: inline-block;
  font-size: 1em;
  line-height: 1rem;
  max-width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

//User avatar

#avatar {
  margin-right: 10px;
  // border: 2px solid #999;
  font-size: 36px;
}

#avatarDiv {
  float: left;
  width: 15px;
  margin-left: 5px;
}

//Bubble styles will be used for Private Messages
.bubble
{
position: relative;
width: 360px;
height: 75px;
padding: 5px;
background: #00FFFF;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
border: #222 solid 2px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #00FFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 16px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 16px 16px;
border-color: #222 transparent;
display: block;
width: 0;
z-index: 0;
top: -18px;
left: 15px;
}

@keyframes flash {
    from  {
        background: black;
    }
    to {
        background: #CCC;
    }
}

.dot {
    display: inline-block;
    background: #CCC;
    height: 4px;
    width: 4px;
    border-radius: 8px;
    margin-right: 5px;


    animation-name: flash;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation: flash 1000ms infinite;
}
.dot:first-child {
    background: black;
}

.dot:nth-child(2) {
    animation-delay: 250ms;
}
.dot:nth-child(3) {
    animation-delay: 500ms;
}
