//Google Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url('https://fonts.googleapis.com/css?family=Roboto');




//Color scheme used
//http://material.colorion.co/palette/689

//Body and window styling
body {
  font-family: "Lato", sans-serif;
}

h2, ul {
  li {
    a {
      font-weight: lighter;
    }
  }
}

h1, p, a {
  color: #FFF;
}



.container-content {
  width: 100%;
}

//Message panel and text within
#message {
  list-style: none;
}

#chatMsg {
  // margin-top: 2px;
  font-weight: normal;
  font-size: 1.25em;
  color: #000;
  white-space: pre-line;
}

#messagePanel {
  top: 80px;
  @include not-collapsed-width();
  margin-left: 200px;

  /* left: 0; */
  /* top: 0; */

  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  border: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
  /* float: right; */
  bottom: 60px;
  min-height: 100px;

  ul {
    padding-left: 5px;
  }

  li {
    padding: 10px 15px;
    margin-bottom: -1px;

    &:hover {
      background: #f9f9f9;
    }
  }
}

#contentDiv {
  float: right;
  width: calc(100% - 65px);

}

//Text within chat box
#msgUser {
  font-weight: 900;
  font-size: 1.25em;
  color: $cyanish-color;
  margin-right: 10px;
  margin-bottom: 0;

  a {
    color: $cyanish-color;
  }
}


//Footer including the input box textarea and user typing
#footer {
  position: fixed;
  bottom: 20px;
  /* left: 0; */
  left: 200px;
  @include not-collapsed-width();
  height: 65px;
  right: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
  background-color: transparent;
  // height: 200px;
}

#messageBox {
  white-space: pre-wrap;
  overflow: auto;
  background: #fff;
  font-size: 1.9375rem;
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  font-family: 'Lato', sans-serif;
  color: #3d3c40;
  -webkit-appearance: none;
  box-shadow: none;
  margin-left: 10px;
  margin-bottom: 5px;
  outline: 0;
  bottom: 0;
  position: fixed;
  width: calc(100% - 220px);
}

#userTyping {
  display: inline-block;
  font-size: 1em;
  line-height: 1rem;
  max-width: 75%;
  margin-left: 12px;
  margin-top: -5px !important;
  position:absolute;
  font-weight: 700;
}

//User avatar
#avatar {
  margin-right: 10px;
  // border: 2px solid #999;
  font-size: 40px;
  color: #546E7A;
}

#avatarDiv {
  float: left;
  width: 25px;
  margin-left: 20px;
}

//Bubble styles will be used for Private Messages
.bubble
{
  position: relative;
  width: 360px;
  height: 75px;
  padding: 5px;
  background: #00FFFF;
  @include border-radius(14px);

  border: #222 solid 2px;

  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #00FFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 16px;
  }

  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 16px 16px;
    border-color: #222 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -18px;
    left: 15px;
    height: 300px;
    white-space: pre-line; //This is used to preseve \n in  messages
  }
}





//Flash animation that will be used on the dot class
@keyframes flash {
  from  {
    background: black;
  }
  to {
    background: #CCC;
  }
}


.dot {
  display: inline-block;
  background: #CCC;
  height: 4px;
  width: 4px;
  @include border-radius(8px);
  margin-right: 5px;

  //Flashing dot animation that will transition the dots change colors everyone 1 second infinitely
  animation-name: flash;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation: flash 1000ms infinite;

  //All 3 dots will have a different animation delay so they animate at different times
  &:first-child {
    background: black;
  }

  &:nth-child(2) {
    animation-delay: 250ms;
  }

  &:nth-child(3) {
    animation-delay: 500ms;
  }
}


#channelBox {
  height: 100%;
  background-color: black;
}

#messageDiv {
  margin-top: -70px;
  max-height: 100%;
}

//Channels Sidebar
#channel-sidebar {
  background: $wet-asphalt;
  position: fixed;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  z-index: 3;
}

ul {
  li {
    a {
      font-size: 15px;
    }

    &:not(:last-child) {
      a {
        color: $silver;
        text-decoration: none;

        &:hover {
          color: white;
        }
      }
    }

    &:last-child a:hover {
      color: $concrete;
    }
  }
}

//Channel list
#channel-list {
  text-align: center;
  height: 50%;
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
  }

  a {
    &:hover {
      text-decoration: none;
      width: 100%;
    }
  }
}

.active-channel {
  background-color: $cyanish-color;
  width: 100%;
  margin: 0;
  padding-top: 1px;
  height: 35px;

  a {
    color: #FFF !important;
  }
}

.active-user {
  @extend .active-channel;
}


//Private messages
#private-messages {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
  }

  a {
    &:hover, &:active {
      text-decoration: none;
      width: 100%;
    }
  }

  h2 {
    font-size: 18px;
    color: #FFF;
  }
}


.blueHover {
  &:hover {
    background-color: $wet-asphalt;
  }

  a {
    &:hover {
      color: white;
    }
  }
}


#channel-name-header {
  font-weight: 700;
  font-size: 2.4em;
  color: $cyanish-color;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}

#text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

#user-sections {
  margin-top: 50px;
}

.user-section {
  float: left;
  color: $silver;
  margin-bottom: 10px;

  &:nth-child(1) {
    width: 20%;
    height: 22px;
    padding-top: 3px;
  }

  &:nth-child(2) {
    width: 60%;
  }

  &:nth-child(3) {
    width: 20%;
    text-align: center;
    font-size: 14px;
    padding-top: 0px;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}



.user-state {
  margin: 0 auto;
  width: 14px;
  @include border-radius(20px);
  height: 14px;
}

.user-online {
  @extend .user-state;
  background-color: $emerald;
}

.user-offline {
  @extend .user-state;
  border-color: $silver;
}



.user-name {
  padding-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nav-collapse {
  display: none;
  font-size: 30px;
  color: $wet-asphalt;
  margin-right: 10px;
  cursor: pointer;
  float: left;
  margin-top: 15px;

  &:hover {
    color: $cyanish-color;
  }
}


.noShow {
  display: none;
}


.dark-overlay {
  display: none;
  background-color: $wet-asphalt;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background-color: #FFF;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
  animation-name: whiteToGrey;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes whiteToGrey {
  from {
    background-color: #FFF;
    opacity: 0;
  }
  to {
    background-color: $wet-asphalt;
    opacity: 0.5;
  }
}

@keyframes whiteToGrey {
  from {
    background-color: #FFF;
    opacity: 0;
  }
  to {
    background-color: $wet-asphalt;
    opacity: 0.5;
  }
}


.dropup-menu {
  float: right;
  margin-right: 100px;
  margin-top: -90px;

  ul {
    li {
      margin-right: 5px;


      cursor: pointer;

      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */

      /* Rules below not implemented in browsers yet */
      -o-user-select: none;
      user-select: none;


      &:nth-child(1) {
        a {
          color: inherit;

          &:hover {
            background-color: $cyanish-color !important;
            color: #FFF !important;
          }
                }

        &:hover {
          color: #FFF;
          background-color: $cyanish-color !important;
        }
      }

      &:nth-child(2) {
        a {
          color: inherit;

          &:hover {
            background-color: $delete-color;

          }
        }
        &:hover {
          background-color: $delete-color !important;
          color: #FFF;
        }
      }
    }
  }
}

.dropdown-menu {
  position: relative;
}

#dropdownMenu2 {
  margin-top: 28px;
}

#editMsg a, #delMsg a {
  font-size: 13px;
}

#editMsg i, #delMsg i {
  padding-right: 5px;
}

#delMsg a {
  text-decoration: none;
}



.getting-deleted {
  background-color: rgba(231,76,60, 0.5);

    -moz-animation-name: changeHeightToNone;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -webkit-fill-mode: forwards;
    -moz-animation-duration: 1s;

    -webkit-animation-name: changeHeightToNone;
    -webkit-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;

    animation-name: changeHeightToNone;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;


  &:hover {
    background-color: rgba(231,76,60, 0.5) !important;
  }
}

.edit-styles {
  width: 70%;
}



@-moz-keyframes changeHeightToNone {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes changeHeightToNone {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes changeHeightToNone {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.was-edited {
  @include cyanOpaque(0.5);


  -moz-animation-name: changeOpacityToZero;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -webkit-fill-mode: forwards;
  -moz-animation-duration: 1s;

  -webkit-animation-name: changeOpacityToZero;
  -webkit-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;

  animation-name: changeOpacityToZero;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}



@-moz-keyframes changeOpacityToZero {
    0% {
      @include cyanOpaque(0.5);
    }

    100% {
      background-color: #FFF;
    }
}
@-webkit-keyframes changeOpacityToZero {
    0% {
      @include cyanOpaque(0.5);
    }
    100% {
        background-color: #FFF;
    }
}

@keyframes changeOpacityToZero {
    0% {
      @include cyanOpaque(0.5);
    }
    100% {
        background-color: #FFF;
    }
}






#chanDiv {
  width: 100%;
  text-align:center;
  display: inline-block;
  margin-left: 10px;
}

#chanTitle {
  color: #546E7A;
  font-size:20px;
  font-weight: normal;
}

.chan-link, .pm-link {
  color: #bdc3c7;
  text-transform: uppercase;
  font-size: initial;
}

#pmTitle a:hover, #chanTitle a:hover {
  text-decoration: none;
  color: #FFF;
  font-weight: normal;
}

#pmTitle a:focus, #chanTitle a:focus{
  color: #FFF;
  text-decoration: none;
}


#numOfChannels {
  font-size: 12px;
  font-weight: lighter;
  color: $silver;
  margin-left: 5px;
}

#numOfUsers {
  @extend #numOfChannels;
}

#spinnerAtTop {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 5px;
  border-top-color: $cyanish-color;
}

.lowerMarginTop {
  margin-top: 7px !important;
}



//These styles are applied when the screen is bigger than 700 pixels
@media (min-width: 701px) {
  #channel-sidebar {
    width: 200px !important;
  }
}

//These styles are applied when the screen is smaller than 700 pixels
@media (max-width: 700px) {
  #channel-sidebar {
    width: 0px;
  }

  #message-nav {
    width: 100% !important;
  }

  #nav-collapse {
    display: inline-block;
  }

  #footer {
    left: 0;
    width: 97%;
  }

  .dark-overlay {
    display: block;
  }

  #messagePanel {
    margin-left: 0px;
    width: 100%;
  }
  #text-ellipsis {
    width: calc(100% - 50px);
  }

  #messageBox {
    width: calc(100% - 15px);
  }

  #messageSpinner {
    position:absolute;
    left: calc(50% - 60px);
  }
}

//Modal Styling

#chanModal, #pmModal {
  border-bottom: 1px solid #546E7A;
}

.chan-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.chan-modal .modal-content h2 {
  margin: 25px;
  font-size: 3em;
  font-weight: bold;
}
.chan-modal .modal-content img {
  margin-bottom: 30px;
}
.chan-modal .modal-content .item-details {
  margin: 30px 0;
}
.chan-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.chan-modal .close-modal:hover {
  opacity: 0.3;
  background: #e8e8e8;
  border-radius: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  user-select: none;
}
.chan-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.chan-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.chan-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
.modal-body ul {
  list-style: none;
  margin-bottom: 50px;
}

#chan-list {
  height: 350px;
  overflow: auto;
}

#chan-list a, #pm-list a {
  font-size: 1.8em;
  color: #0097A7;
  text-decoration: none;
}
#chan-list li:hover, #pm-list li:hover {
  background-color: #CFD8DC;
  text-decoration: none;
}
.active-channel-modal {
  font-weight: bold;
}
.modal-body {
  color: #000;
}
.add-chan {
  padding: 30px;
}
.btn-new-chan {
  color: #fff;
  background-color: #0097A7;
  font-weight: bold;
}
.channel-search {
  font-size: 2.5rem;
  line-height: normal;
  padding: .75rem;
  border: 1px solid #C5C5C5;
  border-radius: .50rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  color: #555459;
  width: 100%;
  max-width: 100%;
    -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  box-shadow: none;
  height: auto;
  padding-left: 3.75rem;
  padding-right: 3rem;
}

#searchspan .fa {
  font-size: .8em;
}

#searchspan {
    float: left;
    margin-right: 30px;
    margin-top: -32px;
    padding-left: 10px;
    padding-bottom: 2px;
    position: relative;
    z-index: 1;
    color: lightgray;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
}
