.container-content {
  width: 100%;
}

#message {
  list-style: none;
}

#chatMsg {
  margin-top: 10px;
  font-weight: normal;
}

#messagePanel {
  height: 75%;
  width: 100%;
  left: 0;
  /* top: 0; */
  overflow: auto;
  position: fixed;
  border: 0;
}

#messagePanel ul {
  padding-left: 5px;
}

#messagePanel li {
  padding: 10px 15px;
  margin-bottom: -1px;
}

#messagePanel li:hover {
  background: #f9f9f9;
}

#messageBox {
  white-space: pre-wrap;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
}

#avatar {
  margin-right: 10px;
  // border: 2px solid #999;
  font-size: 36px;
}

#avatarDiv {
  float: left;
  width: 15px;
  margin-left: 5px;
}

#contentDiv {
  float: right;
  width: calc(100% - 50px);
}

//Text within chat box
#msgUser {
  font-weight: bold;
  font-size: 16px;
  color: #777;
  margin-right: 10px;
  margin-bottom: 0;
}

.isTyping {
  bottom: 0;
  position: fixed;
}

//Bubble styles will be used for Private Messages
.bubble
{
position: relative;
width: 360px;
height: 75px;
padding: 5px;
background: #00FFFF;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
border: #222 solid 2px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #00FFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 16px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 16px 16px;
border-color: #222 transparent;
display: block;
width: 0;
z-index: 0;
top: -18px;
left: 15px;
}

@keyframes flash {
    from  {
        background: black;
    }
    to {
        background: #CCC;
    }
}

.dot {
    display: inline-block;
    background: #CCC;
    height: 4px;
    width: 4px;
    border-radius: 8px;
    margin-right: 5px;


    animation-name: flash;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation: flash 1000ms infinite;
}
.dot:first-child {
    background: black;
}

.dot:nth-child(2) {
    animation-delay: 250ms;
}
.dot:nth-child(3) {
    animation-delay: 500ms;
}
