@import "landing-nav"

// Use image on the landingpage to set as bg
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


#landing-h1 {
	font-weight: 900;
	font-size: 5em;
  color: #0097A7;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.landing-text {
  color: #E1F5FE;
}

.landing-content{
	padding-top: 15%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 450px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#sign-in-btn {
  background-color: #0097A7;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  border-color: #546E7A
}

#sign-in-btn:hover{
  color: #fff;
  background-color: #546E7A;
  border-color: #204d74;
}

#sign-up-btn {
  background-color: #0097A7;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  border-color: #546E7A;
  font-size: 24px;
  padding: 15px 25px;
}

#sign-up-btn:hover{
  color: #fff;
  background-color: #546E7A;
  border-color: #204d74;
}
