.loginDiv {
	padding-top: 40px;
	color: #0097A7;
	}

	#box-container {
	margin-top: 15%;
	min-width: 200px;
	max-width: 400px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	min-height: 400px;
	border: 3px solid #546E7A;
	margin-left: auto;
	margin-right: auto;
	// border-radius: 25px;
	background-color: rgba(225,245,254,0.56);
}
