.loading {
  border-radius: 50%;
  border: 3px solid #FFF;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.middleBox {
  margin: 0 auto;
}

.signOutBox {
  text-align: center;
}

#signOutSpinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  margin-top: 8px;
  margin-left: 5px;
  border-top-color: #0097A7;
}
