<style>
.navbar {
  background-color: #0097A7;
  width: 75%;
  float: right !important;
  border: 0;
}
#app-brand {color: #fff;}


</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="messagePanel">
        <ul>
          <!--Messages are repeated here-->
          <li ng-repeat="message in vm.messages">
            <div class="row">
              <div id="avatarDiv">
                <a href="#"><i id="avatar" class="fa fa-user fa-3"></i></a>
              </div>
              <div id="contentDiv">
                <p id="msgUser"><a href="#"> {{message.username}} </a></p>
                <p id="chatMsg"> {{message.contents}} </p>
              </div>
            </div>
            </div>
          </li>
        </ul>
    </div>
    <div id="channel-sidebar" class="col-md-2">
      <h1 class="text-center">Channels</h1>

    </div>
  </div>
<div class="container" id="footer">
  <div class="row">
    <div class="col-xs-12">
      <div id="userTyping">
        <!--This will show if the user is currently typing or not-->
          <span ng-repeat="message in vm.userTypingArray"> {{message}} </span>  {{vm.typeOfTyping}}
          <span ng-show="vm.userTypingArray.length !== 0">
            <!--The dot animation which will show if at least another user is typing-->
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </span>
        </div>
      <div class="form-group">
        <!--Input where the user types-->
        <input
        type="text"
        id="messageBox"
        class="form-control"
        placeholder="Chat away and press enter"
        ng-model="vm.message"
        autofocus
        ng-keydown="vm.sendMessage($event)"
        ng-keyup="vm.sendUserIsTyping($event)"
        spellcheck="true"
        required
        maxlength="100"
        / >
        </div>
      </div>
    </div>
  </div>
</div>
