<style>
#message-nav  {
  width: calc(100% - 200px);
  left: 0;
  padding-left: 10px;
  float: right !important;
  border: 0;
  top: 0;
  border-radius: 0;
}

.ng-scope {
  margin: 0 !important;
}

#app-brand {
  color: #fff;
}

.col-md-12 {
  min-height: 0;
}

.container {
  width: auto;
}

</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="messagePanel">

        <div ng-show="vm.messagesLoaded === false">
          <div class="loading" id="messageSpinner"></div>
        </div>


        <div ng-show="vm.messagesLoaded === true">
          <ul>
            <!--Messages are repeated here-->
            <li ng-repeat="message in vm.messages" ng-class="{'getting-deleted': message.gettingDeleted === true}">
              <div class="row">
                <div id="avatarDiv">
                  <a href="#"><i id="avatar" class="fa fa-user fa-3"></i></a>
                </div>
                <div id="contentDiv">
                  <div>
                    <p id="msgUser"><a href="#"> {{message.username}} </a></p>

                    <p id="chatMsg" ng-show="message.gettingEdited !== true"> {{message.contents}} </p>
                    <div ng-show="message.gettingEdited === true"> <textarea ng-keypress="vm.editMessageInput($event, message.message_id, $index)" class="form-control edit-styles" maxlength="100">{{message.contents}}</textarea> </div>
                  </div>

                  <div class="dropup dropup-menu" ng-show="userid === message.user_id">
                    <button class="btn btn-default dropdown-toggle" type="button" ng-disabled="message.gettingDeleted" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li ng-click="vm.editMessage(message.message_id, $index)"><a>Edit Message</a></li>
                      <li ng-click="vm.deleteMessage(message.message_id, $index)"><a>Delete Message</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="channel-sidebar" class="col-md-2">
      <a ng-click="vm.goToHome()" class="navbar-brand" id="app-brand" style="cursor: pointer;"><i class="fa fa-comments-o fa-3"></i> chat-app</a> <div class="loading" id="spinnerAtTop" ng-show="showSpinner === true"></div>
      <div id="user-sections" ng-class="{'lowerMarginTop': showSpinner === true}">
        <div class="user-section">
          <div ng-class="{'user-online': userState === 'online'}"></div>
        </div>
        <div class="user-section">
          <div class="user-name">
            {{ username }}
          </div>
        </div>
        <div class="user-section"><i class="fa fa-sign-out" aria-hidden="true" ng-click="vm.logUserOut($event)"></i></div>
      </div>

      <div id="chanDiv"><h2 id="chanTitle"><a href="#chanModal" class="chan-link" data-toggle="modal">Channels</a>  <span id="numOfChannels">({{vm.channels.length}})</span></h2></div>

      <div id="channel-list">
        <ul>
          <li ng-repeat="channel in vm.channels.slice(0,5)" ng-class="{'active-channel': channel.activeChannel === true}"><a href="#" ng-click="vm.goToAnotherChannel(channel.chan_name, $event)" > {{channel.chan_name}} </a></li>
          <li><a href="#" ng-click="vm.createNewChannel($event)"><i class="fa fa-plus"> </i></a></li>
        </ul>
      </div>
      <div id="private-messages">
        <h2 class="text-center" id="pmTitle"><a href="#pmModal" class="pm-link" data-toggle="modal">Private Messages</a> <span id="numOfUsers">({{vm.users.length}})</span></h2>
        <ul>
          <li ng-repeat="user in vm.users.slice(0, 5)" ng-class="{'active-user': user.activeUser === true}"><a ng-click="vm.goToPrivateMessage(user.user_id, user.username, $event)"  href="#">{{ user.username }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="userTyping">
      <!--This will show if the user is currently typing or not-->
      <span ng-repeat="message in vm.userTypingArray"> {{message.name}} </span>  {{vm.typeOfTyping}}
      <span ng-show="vm.userTypingArray.length !== 0">
        <!--The dot animation which will show if at least another user is typing-->
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </span>
    </div>
    <div class="form-group">
      <!--Input where the user types-->
      <textarea
      type="text"
      id="messageBox"
      class="form-control"
      placeholder="Chat away and press enter"
      ng-model="vm.message"
      autofocus
      ng-keydown="vm.sendMessage($event)"
      ng-keyup="vm.sendUserIsTyping($event)"
      spellcheck="true"
      required
      maxlength="100"
      ></textarea>
    </div>
  </div>
</div>
<div class="dark-overlay" ng-show="vm.showDarkOverlay">
</div>

<!-- Channel Modal -->
<div class="chan-modal modal fade" id="chanModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2" id="chanModal">
                    <div class="modal-body">
                      <div class="col-sm-8">
                        <h2>Browse all {{vm.channels.length}} channels </h2>
                      </div>
                      <div class="col-sm-2 col-sm-offset-1 add-chan">
                        <button href="#" ng-click="vm.createNewChannel($event)" type="button" class="btn btn-default btn-new-chan" data-dismiss="modal"><i class="fa fa-plus"> </i> New Channel</button>
                      </div>
                      <div class="col-sm-12 col-sm-offset-1">
                        <div class="col-sm-10 search-div">
                          <form class="form-group">
                            <input ng-model="query" class="channel-search" type="text" name="channel-search" value="" placeholder="Search channels">
                            <span id="searchspan" class="fa fa-search"></span>
                          </form>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <ul id="chan-list">
                          <li ng-repeat="channel in vm.channels | filter:query" ng-class="{'active-channel-modal': channel.activeChannel === true}"><a href="#" ng-click="vm.goToAnotherChannel(channel.chan_name, $event)" data-dismiss="modal"> {{channel.chan_name}} </a></li>
                        </ul>
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button> -->
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Private Messages Modal -->
<div class="chan-modal modal fade" id="pmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" id="pmModal">
                    <div class="modal-body">
                        <h2>Private Messages ({{vm.users.length}})</h2>
                        <ul id="pm-list">
                          <li ng-repeat="user in vm.users" ng-class="{'active-user-modal': user.activeUser === true}"><a ng-click="vm.goToPrivateMessage(user.user_id, user.username, $event)"  href="#" data-dismiss="modal">{{ user.username }}</a></li>
                        </ul>
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
