<div class="container-fluid" id="box-container">
  <form class="form-signin loginDiv">
    <h2 class="form-signin-heading text-center"> <i class="fa fa-user-plus fa-3"></i> User Registration</h2>
    <div ng-show="vm.errorMessage" class="alert alert-danger">
      <div ng-repeat="x in vm.errorMessage">{{ x }}</div>
    </div>
    <div class="form-group">
      <label for="inputUsername" class="sr-only" >Desired Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Desired Username" required autofocus ng-model="vm.input.username"/>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Desired Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Desired Password" required ng-model="vm.input.password"/>
    </div>
    <div class="form-group">
      <label for="inputPasswordVerif" class="sr-only">Re-enter Password</label>
      <input type="password" id="inputPasswordVerif" class="form-control" placeholder="Re-enter Desired Password" required ng-model="vm.input.passwordVerif"/>
    </div>
    <div class="form-group">
      <button id="sign-up-btn" ng-disabled="vm.buttonDisabled" data-ng-click="vm.signup()" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </div>
  </form>
</div>
